body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-signin {
	max-width: 370px;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	margin: 0 auto;
	background: #FFFFFF;
}

.form-signin .form-signin-heading {
	margin-bottom: 40px;
}

.form-signin .checkbox {
	margin-bottom: 10px;
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}