/* body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
} */

body {
  padding-top: 100px;
  background-color: #ffffff;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}